.node-container {
  display: flex;
  flex-direction: row;
  border: 0px solid gray;
  padding: 0px;
  margin-bottom: 5px;
  margin-top: 5px;
  align-content: stretch; 
  align-items: center;
  background: rgba(0,0,0,0.10);
  border-radius: 50px;
}
.node-label {
  display: flex;
  flex-direction: column;
  border: 2px solid CornflowerBlue;
  padding: 10px;
  margin-left: 5px;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  flex-basis:100px;
  background: LightBlue;
  border-radius: 25px;
}
.node-content {
  display: flex;
  flex-direction: column;
  border-left: 0px dotted Crimson;
  padding: 0px;
  margin-bottom: 0px;
  flex-grow: 2;
  flex-shrink: 2;
}

.node-leave {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-top: 1px dotted black;
}
.inner_leave {
	float: right;
	width: 250px;
	display: table-cell;
     border: 2px solid Green;
     position: relative;
     background: lightgreen;
     right: 0px;
  margin: 10px;
  padding: 0px;


}


#popup {
	position: fixed;
	top: 30;
	right: 30;
	background: white;
	border: 2px solid Crimson;
	padding: 5px;
	display: none;
	cursor: pointer;
}
#popup table {
	border: 2px solid black;
}
#popup table th {
	border: 1px solid gray;
}
#popup table td {
	border: 1px solid lightgray;
}
